*{
    margin: 0px;
    padding: 0px;
}
body {
    text-align: center;
}
h1{
    display: table;
    float: left;
    width: 50%;
}
h2{
    border-radius: 15px;
    margin: 10px;
    padding: 10px;
}
a{
    background-color: plum;
    border: silver outset 3px;
    border-radius: 15px;
    color: white;
    float: left;
    font-size: 24px;
    font-weight: bold;
    margin: 10px;
    padding: 15px;
    text-decoration: none;
    width: 40%;
}
a:after{
    content: "";
    display: table;
    clear: both;
}
a:hover{
    background-color: violet;
    color: white;
}
#links, #fachada{
    box-shadow: violet 0px 0px 10px;
    border-radius: 15px;
    margin-top: 10px;
    text-align: center;
    margin-left: 20%;
    margin-right: 20%;
}
label{
    margin-top: 30px;
}
#iconeContato{
    margin: 10px;
    width: 150px;
}
#mulherSorrindo{
    width: 30%;
}
#produtos{
    content: "";
    clear: both;
}
.produto{
    float: left;
    margin: 10px;
    padding: 15px;
    width: 20%;
}